button {
    background-color: darkslategray;
    color: rgb(255, 98, 20);
    height: 50px;
    width: fit-content;
    /* display: grid;
    text-align: center; */
}

/* 
h1 {
    color: greenyellow;
} */

.evenSqr {
    color: rgb(8, 240, 8);
    background-color: #f824cdf3;
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
    margin: 15px;
}

.oddSqr {
    color: rgb(225, 9, 9);
    background-color: rgb(255, 251, 0);
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 15px;
    margin: 15px;
}


.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: space-around;
}

#root{
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
}

.count{
    text-align: center;
    width: 300px;
    height:300px;
    border-radius: 15px;
    background-color: rgb(243, 239, 234);
    box-shadow: #f824cdf3;

}



#sigClk{
    background-color: cornflowerblue;
}
#dblclk{
    background-color: rgb(48, 151, 67);
}